body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #583d72;
    color: #ffba93;
}

.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #ff8e71;
}

.section-header {
    display: flex;
    justify-content: center;
}

.monster-section {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    background: #583d72;
}

.monster-card {
    font-size: 12px;
    text-align: center;
    border: 1px solid black;
    margin: 0.5em auto;
    padding: 2em;
    background: #ffba93;
    transition: all 0.3s ease;
}
