body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #bbbbbb;
  background: #0a043c;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    background: #03506f;
    color: #c5a880;
    transition: all 0.3s ease;
}

.nav-links {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    height: 1.5em;
    /* border-bottom: 2px solid black; */
    padding: 1em 1em;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    color: #e6e6e6;
    transition: all 0.3s ease;
}

.nav-link:hover {
    cursor: pointer;
    background: #0a043c;
    border-length: auto;
    transition: all 0.3s ease;
}

.section-header {
    display: flex;
    justify-content: center;
    background: #03506f;
    color: #ffe3d8;
    margin-top: 0.5em;
}

.monster-section {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 1em auto;
    background: #03506f;
}

.monster-card {
    display: block;
    width: auto;
    justify-content: center;
    font-size: 12px;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
    margin: .5em .5em;
    padding: 2em;
    background: #0a043c;
    transition: all 0.3s ease;
    color: #ffe3d8;
}

.monster-card:hover {
    background: #bbbbbb;
    color: #0a043c;
    transition: all 0.3s ease;
}

.fa-cheese {
}
