body {
  margin: 0;
  font-family: 'Ubuntu';
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #9f5f80;
    color: #ff8e71;
}

.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #ff8e71;
}
